* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Zain", sans-serif;
}
html {
  background-color: papayawhip;
}
header {
  background-color: #000;
  color: white;
  height: 60px;
  border-bottom: 1px solid white;
  position: sticky;
  top: 0;
  z-index: 1;
}
.rlogo {
  width: 50px;
  margin-top: 5px;
}
.social {
  font-size: 40px;
  margin-right: 20px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  margin-right: 20px;
  text-decoration: none;
  color: #333;
}

.nav-right {
  margin-left: auto;
}

.profile-icon {
  width: 24px;
  height: 24px;
}

/* HERO SECTION */
.hero {
  font-family: "Zain", sans-serif;
  padding-top: 115px;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
  height: 100vh;
}
.hero h1 {
  font-size: 50px;
}
.hero p {
  font-size: 40px;
}
@media screen and (max-width: 768px) {
  .hero {
    margin-left: 20px;
    margin-right: 20px;
  }
  .hero h1 {
    font-size: 30px;
  }
  .hero p {
    font-size: 20px;
  }
}
.pfp {
  width: 90px;
  border-radius: 50%;
}
.heroabout {
  animation: fadeInout 3s infinite;
}

@keyframes fadeInout {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.about h1 {
  font-size: 50px;
  text-align: center;
}
.about p {
  font-size: 30px;
  text-align: center;
}
